/* POLICE */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/assets/fonts/inter-v20-latin-regular.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/assets/fonts/inter-v20-latin-500.woff2") format("woff2");
}

@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/assets/fonts/playfair-display-v40-latin-600.woff2") format("woff2");
}

@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/assets/fonts/playfair-display-v40-latin-700.woff2") format("woff2");
}

/* VARIABLES */
:root {
  --color-primary: #1e293b;
  --color-secondary: #e3d5c8;
  --color-text: #081123;
  --color-background: #f8fafc;
  --color-danger: #811313;
  --color-success: #0d4c23;
  --color-placeholder: #081123d7;

  --font-heading: "Playfair Display", serif;
  --font-body: "Inter", sans-serif;

  --fs-h1: 32px;
  --fs-h2: 24px;
  --fs-h3: 20px;
  --fs-body: 16px;
  --fs-small: 14px;

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
}

/* REGLAGES DE BASE ET RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--color-text);
  background-color: var(--color-background);
  font-family: var(--font-body);
  font-size: var(--fs-body);
  font-weight: var(--fw-regular);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: var(--font-heading);
  font-size: var(--fs-h1);
  font-weight: var(--fw-bold);
}

h2 {
  font-family: var(--font-heading);
  font-size: var(--fs-h2);
  font-weight: var(--fw-semibold);
}

h3 {
  font-family: var(--font-heading);
  font-size: var(--fs-h3);
  font-weight: var(--fw-semibold);
}

.main-content {
  flex-grow: 1;
}

/* LIENS */
a {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease;
}

a:hover {
  opacity: 0.75;
}

a:focus-visible {
  outline: 2px solid var(--color-secondary);
  outline-offset: 4px;
  border-radius: 4px;
}

/* HEADER & FOOTER */
.main-header,
.main-footer {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  padding: 1rem 1.5rem;
  width: 100%;
}

.main-header,
.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* HEADER SPÉCIFIQUE */
.main-header {
  position: sticky;
  top: 0;
  z-index: 1000;
  flex-wrap: wrap;
}

.logo {
  width: 200px;
  height: 100px;
}

#main-nav {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.nav-link[aria-current="page"] {
  font-weight: var(--fw-bold);
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}

.nav-icon,
.footer-payments img {
  width: 44px;
  height: 44px;
}

#mobile-nav {
  display: none;
  background: transparent;
  border: none;
  cursor: pointer;
}

/* FOOTER SPÉCIFIQUE */
.footer-top {
  padding-bottom: 1rem;
}

.footer-hours {
  text-align: center;
}

.footer-payments {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
}

.footer-legal {
  display: flex;
  gap: 2rem;
}

.company-address {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.address-tel {
  margin-top: 1rem;
}

.footer-copyright {
  text-align: center;
  padding-top: 1rem;
}

@media (max-width: 768px) {
  #mobile-nav {
    display: block;
  }

  #main-nav {
    display: none;
  }

  #main-nav.is-open {
    display: flex;
    flex-direction: column;
    width: 100%;
    order: 3;
    margin-top: 1rem;
    align-items: stretch;
    .nav-link {
      text-align: right;
      padding: 1rem;
      width: 100%;
      border-radius: 4px;
    }
    .nav-link[aria-current="page"] {
      background-color: var(--color-secondary);
      color: var(--color-text);
      text-decoration: none;
    }
  }

  .footer-top {
    flex-direction: column;
    gap: 1rem;
  }

  .company-address {
    order: -1;
  }

  .footer-payments {
    display: flex;
  }
}
